html,
body {
  color: #063769 !important;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.full-height {
  height: 100vh;
}

@media (max-width: 850px) {
  .full-height {
    height: 50vh;
  }
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 3.75rem;
}

.title .sub-title {
  font-size: 2.75rem;
}

@media (max-width: 325px) {
  .title {
    font-size: 1.75rem;
  }

  .title .sub-title {
    font-size: 1rem;
  }
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

input[type=date] {
  border-radius: 0.1rem;
  border-style: none;
}

label {
  margin-right: 10px;
  font-size: 1.15rem;
}

.history {
  padding-top: 20px;
  padding-right: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  color: #333333;
  text-align: right;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 850px) {
  .history {
    flex-direction: row;
    width: 100vw;
    height: 50vh;
    left: 0;
    bottom: 0;
    align-items: flex-start;
    text-align: left;
    position: relative;
  }
}

#records {
  height: 80%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 850px) {
  #records {
    overflow: auto;
    height: auto;
    width: 100vw;
    left: 0;
    top: auto;
    bottom: 0;
    flex-direction: column;
    transform: rotate(0deg);
  }
}

#records .card {
  margin: 10px;
}

@media (max-width: 850px) {
  #records .card {
    margin: 10px 20px 10px 20px;
  }
}

